/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.tamanhoImagem{
    width: 25%;
}
.tamanhoCard{
    width: 60%;
}

.tabela{
    margin-top: 60px !important;
    margin-left: 60px !important;
    width: auto;
}
